<header>
  <h1>{{ site.title }}</h1>
  <p class="description">{{ site.description }}</p>
  <div class="terminal"><img src="img/terminal.png" /></div>
  <ul>
    <li><a href="https://github.com/tintinplusplus/tintin">Unofficial <strong>Source</strong></a></li>
    <li><a href="http://tintinplusplus-unoffical-documentation.readthedocs.org/">Unofficial <strong>Documentation</strong></a></li>
    <li><a href="https://github.com/tintinplusplus/tintinplusplus-scripts">Unofficial <strong>Scripts</strong></a></li>
  </ul>
</header>
